.body { float: left; }
#root { max-width: 100%; margin: 0px 0px; }

/*body of page*/
#body { 
	width:  			: 100%; 
	background-color	: #ffffff;
	margin 				: 0px; 
	border 				: 0px solid #000000; 
	padding				: 0px;
	background-position: center;
}

/*base menu top page*/
#box_top {
	width: 100%;
	background-color	: #20282d;
	margin 				: 0px ;
	border 				: -2px solid #000000; 
}
/*icon menu left*/
.box_top_left {
	display: inline-block;
	margin: 0px;
	border:0px;
	width: 15%;
	min-width: 12%;
	padding: 28px 0px;
	background-image: url(image/ico_menu_oculto.png); /*icons menu top page*/
	background-repeat: no-repeat;
	background-size: 100% 87%;
}
/*icon menu center*/
.box_top_center {
	display: inline-block;
	margin: 0px 20%;
	border:0px;
	width: 20%;
	padding: 27px 0px;
	background-image: url(image/ico_tableless.png); /*icons menu top page*/
	background-repeat: no-repeat;
	background-size: 105% 80%; 
}
/*icons menu right*/
.twiter {
	float: right;
	display: inline-block;
	list-style-type: none; 
	width: 2%;
	right: 15px;
	margin: 0px;
	padding: 18px 1px; 
	background-image: url(image/ico_twiter.png); /*icons menu top page*/
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.facebook {
	float: right;
	display: inline-block;
	list-style-type: none;
	width: 2%;
	margin: 0px;
	padding: 18px 1px;  
	background-image: url(image/ico_facebook.png); /*icons menu top page*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.feed_rss {
	float: right;
	display: inline-block;
	width: 2%;
	margin: -0px;
	padding: 18px 1px;  
	background-image: url(image/ico_feed_rss.png); /*icons menu top page*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.google {
	float: right;
	display: inline-block;
	right: 1px;
	width: 2%;
	margin: 0px;
	padding:18px 1px;  
	background-image: url(image/ico_google+.png); /*icons menu top page*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*links top page and box central*/
ul.box_top { 
	list-style-type: none;
	border: 3px solid blue;
	padding: auto;
	width: 1028px;
 }
ul.box_top > li { 
	display: inline-block;
	border: 4px solid #0000ff;
	padding: auto;
	width: 240px;	
}
#menu_top_links{ 
	width 				: 102px;
	background-color	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ;
	border 				: 0px solid #ffffff; 
	text-align 			: center;
	text-decoration		: none; 
	text-transform		: uppercase;
	font-size: 10px;
}
#menu_top_links:hover { 
	background-color 	: #F61B3A;
	transition-duration:0.8s;
}

a:link {text-decoration: none;color:#000000}
a:active {text-decoration: none;color: #ffffff}
a:visited {text-decoration: none;color: #000000}
a:hover {text-decoration: none;color: #ffffff}

/*links top page bottom of menu*/
ul.box_center { 
	list-style-type: none;
	border: 1px solid #ffffff;
	padding: auto;
	width: 100%;
}
ul.box_center > li { 
	display: inline-block;
	border: 1px solid #ffffff;
	padding: 20px;
	width: 260px;
	font-size: 16px;
}
#box_center .box_center :hover { 
	background-color 	: #F61B3A;
	transition-duration:0.8s;
}

h4 {
	font-size: 11px;
}
#menu_top_links:hover { 
	background-color 	: #F61B3A;
}
#menu_top_links{ 
	float 				: left;
	width 				: 98px;
	background-color	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ;
	border 				: 2px solid #ffffff; 
	text-align 			: center;
	text-decoration		: none; 
	text-transform		: uppercase;
}
/*text center page in destak*/
#text_destak{ 
	float 				: left;
	width 				: 100%;
	background-color	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ;
	border 				: 1px solid #ffffff; 
	text-align 			: center;
	text-decoration		: none; 
	text-transform		: uppercase;

}
h5 {
	margin: 1px;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
}
h3 {
	font-size: 280%;
	font-family: arial;
	font-weight: bold;
}

#text_destak a:link {text-decoration: none;color: #000000}
#text_destak a:active {text-decoration: none;color: #000000 }
#text_destak a:visited {text-decoration: none;color: #000000}
#text_destak a:hover {text-decoration: none;color: #ff0000}

/*block left*/
.bloco {
	float: left;
	display: inline;
	border: 1px solid #ffffff;
	padding: 20px;
	width: 260px;
	font-size: 26px;
	font-weight: bold;
	color: #F61B3A;
	text-align: center;
}
