.body { float: left; }
#root { max-width: 1028px; margin: -8px -9px; }

/*body of page*/
#body { 
	width:  			: 100%; 
	background-color	: #ffffff;
	margin 				: -2px -1px -1px -1px; 
	border 				: 0px solid #000000; 
	text-align 			: center;
	padding				: 0px
}
/*top of page part black icons and logo tableless*/
#top2 { 
	float 	 			:left;
	width 				: 100%;
	right 				: auto;
	background-color 	: #20282d;
	display 			: inline;	
	margin 				:  -1px -1px 2px -1px;; 
	border 				: 1px solid #20282d;
	text-align 			: right;
}
#top2_1 { 
	float 				: left;
	width 				: 22%;
	right 				: 0%;
 	top 				: -2px; 
	position 			: relative;
	background-color 	: #20282d;
	background-image 	: url(image/ico_menu_oculto.png);
	background-repeat 	: no-repeat;  
	background-size 	: 80% 100%; 
	display 			: inline;
	margin 				: 0%; 
	border 				: 2px solid #20282d; 
	text-align 			: center;	
	padding 			: 3% 5% 3% 1%;
}
#top2_2 { 
	float 				:left;
	width 				: 22%; 
	left 				: 12%;
	top 				: -2px;
	position 			: relative;
	background-image 	: url(image/ico_tableless.png);
	background-repeat 	: no-repeat;  
	background-size 	: 110% 105%; 
	background-color 	: #20282d;
	display 			: inline-block;
	margin 				: -1px; 
	border 				: 0px solid #20282d; 
	text-align 			: center;
	padding 			: 4% 2% 3% 1%; 
}
#top2_3 { 
	float 				:right;
	width 				:13%;
	right 				:10%; 
	left 				: 1px;
	top 				: -2px; 
	position 			: relative;
	background-color 	: #20282d;
	background-image 	: url(image/icons.png);
	background-repeat 	: no-repeat;  
	background-size 	: 98% 97%; 
	display 			: inline;
	margin 				: 0%; 
	border 				: 0px solid #20282d; 
	text-align 			: center;
	padding 			: 3% 0% 4% 1%;
}

/* links up "para iniciantes" at "traduções"*/
#top_menu_top { 
	float 	 			:left;
	width 				: 100%;
	right 				: 15%;
	background-color 	: #ffffff;
	display 			: inline;	
	margin 				:  -1px -1px 2px -1px;; 
	border 				: 10px solid #ffffff;
	text-align 			: center;
	padding				: 2;
}
#top_menu_top2 { 
	float 	 			:left;
	position	        : relative;
	left 				: 305px; 		
	width 				: 33%;
	right 				: 15%;
	background-color 	: #ffffff;
	display 			: inline;	
	margin 				:  -1px -1px 2px -1px;; 
	border 				: 10px solid #ffffff;
	text-align 			: center;
	padding				: 2;
}

#menu_top_links{ 
	float 				: left;
	width 				: 110px;
	background-color	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ;
	border 				: 1px solid #ffffff; 
	text-align 			: center;
	text-decoration		: none; 
	text-transform		: uppercase;
}

h4 {
	font-size: 12px;
}
#menu_top_links:hover { 
	background-color 	: red;

}

a:link {text-decoration: none;color:}
a:active {text-decoration: none;color: #ffffff}
a:visited {text-decoration: none;color: #000000}
a:hover {text-decoration: none;color: #ffffff}

/*text in destak*/
#text_destak { 
	float 	 			:left;
	width 				: 100%;
	right 				: 15%;
	background-color 	: #ffffff;
	display 			: inline;	
	margin 				:  -1px -1px 2px -1px;; 
	border 				: 1px solid #ffffff;
	text-align 			: center;
	padding				: 2;
}

#text_destak{ 
	float 				: left;
	width 				: 100%;
	background-color	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ;
	border 				: 1px solid #ffffff; 
	text-align 			: center;
	text-decoration		: none; 
	text-transform		: uppercase;

}
h3 {
	font-size: 300%;
	font-family: arial;
	font-weight: bold;
}

#text_destak a:link {text-decoration: none;color: #000000}
#text_destak a:active {text-decoration: none;color: #000000 }
#text_destak a:visited {text-decoration: none;color: #000000}
#text_destak a:hover {text-decoration: none;color: #ff0000}


/* box center page*/
#left3 { 
	float 				:left;
	width 				: 320px;
	background-color	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ;
	border 				: 1px solid #ffffff; 
	text-align 			: center; 
}
#left3_1 { 
	float 				: left;
	width				: 263px;
	right 				: -39px;
	top 				:-2px; 
	position 			: relative;
	background-color 	: #ffffff;
	display 			: inline;
	margin 				: 0px; 
	border 				: 2px solid #ffffff; 
	text-align 			: center;
	padding 			: 1px
}
#center4 { 
	width 				: 320px; 
	background-color 	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ; 
	border 				: 1px solid #ffffff;
	text-align 			: center; 
}
#center4:hover { 
	background-color 	: red;
}

#right5 {
	float 				:right;
	width 				: 320px; 
	background-color 	: #ffffff;
	display 			: inline-block;
	margin 				: 0px ; 
	border 				: 1px solid #ffffff;
	text-align 			: center;
}
#right5:hover { 
	background-color 	: red;
}



/* Laptop/Tablet (960px) 
@media only screen and (min-width: 481px) and (max-width: 960px) and (orientation: landscape) {

/* Tablet Portrait (768px) 
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {

	
}


/* Phone Landscape (480px) *
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#box1 { width: 100%; }
	#box2 { width: 100%; }
	#box3 { width: 100%; }
	#box4 { width: 100%; }
	#box5 { width: 100%; }
}

/* Phone Portrait (320px) /
@media only screen and (max-width: 320px) {
	#box1 { width: 100%; }
	#box2 { width: 100%; }
	#box3 { width: 100%; }
	#box4 { width: 100%; }
	#box5 { width: 100%; }
}
*/
